@charset "UTF-8";

:root{
    --cor0: #E6D6B1;
    --cor1: #FFCDB2;
    --cor2: #CC5803;
    --cor3: #E05012;
    --cor4: #E09302;
    
}
/*Configuraões gerais*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sem serifa;
}

body{
    background-color: #E6D6B1;
    height: 100vh;
}

.cont_button button{
    background-color: #E05012;
    padding: 10px 40px;
    font-size: 15px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px 0 0 black;
    cursor: pointer;
    transition: .2s;
}

.cont_button button:hover{
    transform: scale(1.10);
    box-shadow: 3px 3px 0 0 black;
}

.flex{
    display: flex;
}

.container{
    max-width: 1280px;
    margin: 0px auto;
}

.text_topo, .img_topo, .piano, .teoria_musical, .sax_alto, .bateria, .cursos{
    visibility: hidden;
}

/*Configuraões cabesalho*/

header{
    width: 100%;
    padding: 30px 4%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.499);
}

header > .container{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

header nav a{
    color: black;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header nav a:hover{
    color: #E05012;
    font-weight: 500;  
    transform: scale(1.10);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 10px 40px;
}

/*configuração do menu mobile*/

.but-abrir-menu-mob i{
    color: black;
    font-size: 40px;
    padding: 40px 4%;
}

.menu-mobile{
    background-color: #E6D6B1;
    height: 100vh;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 2000;
    width: 0%;
    overflow: hidden;
    transition: .2s;
}

.menu-mobile.abrir_menu{
    width: 70%;
}

.menu-mobile.abrir_menu ~ .overlay-menu-mob{
    display: block;
}

.menu-mobile .but-fechar{
    padding: 20px 5%;
    text-align: left;
}

.menu-mobile .but-fechar i{
    color: #000;
    font-size: 30px;
}

.menu-mobile nav ul{
    text-align: right;
}

.menu-mobile nav ul li{
    display: block;
    padding: 10px;
}

.menu-mobile nav ul li a{
    color: black;
    font-size: 20px;
    font-weight: 400;
    padding: 20px 8%;
    display: block;
    transition: .5s;
}

.menu-mobile nav ul li a:hover{
    background-color: #CC5803;
    color: black;
    transform: scale(1.10);
    font-weight: 500;
}

.overlay-menu-mob{
    background-color: #000000c0;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
    display: none;
}

/*Configuração da section do topo do toms*/

section.topo_toms{
    padding: 20px 4%;
}

section.topo_toms .flex{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

h1{
    font-size: 78px;
    font-weight: bold;
}

h1 strong{
    color: #CC5803;
}

.topo_toms .text_topo p{
    padding: 20px 0;
    text-align: justify;
}

.topo_toms .text_topo .img_text_topo{
    padding-top: 30px;
    padding-left: 30%;
}

/*Configurações da section instrumentos*/

section.instrumentos{
    padding: 40px 4%;
}

section.instrumentos .flex{
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.instrumentos .piano{
    width: 70%;
    background-color: #CC5803;
}

.instrumentos .teoria_musical{
    width: 70%;
    margin-top: 30px;
    background-color: #E09302;
}

.instrumentos .sax_alto{
    width: 70%;
    background-color: #CC5803;
    
}

.instrumentos .bateria{
    width: 70%;
    margin-top: 30px;
    background-color: #E09302;
}

.instrumentos .inst{
    padding: 30px;
    border: 1px solid black;
    box-shadow: 3px 3px 0 0 black;
}

.instrumentos .inst img{
    padding: 0 0 10px 10px;
}

.instrumentos .inst h2{
    padding: 0 0 10px 10px;
}

.instrumentos .inst p{
    padding: 0 10px 10px 10px;
    text-align: justify;
}

.instrumentos .inst .seta_seguir{
     margin-left: 80%;
     margin-bottom: -50px;
}

.instrumentos .cursos{
    margin-top: 80px;
    text-align: center;
}

.instrumentos .cursos .cont_button{
    margin-top: 30px;
}

/*Configurações do footer*/
footer{
    padding: 30px 4%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.499);
}

footer .flex{
    align-items: center;
    justify-content: center;
    gap: 18%;
}

footer h3{
    text-align: center;
}

footer input{
    width: 400px;
    padding: 5px;
    margin: 20px 0 20px 0;
    border: 1px solid black;
    box-shadow: 3px 3px 0 0 black;
}

footer .img_icon_inst img{
    padding: 5px;
}

footer .cont_button{
    text-align: center;
}

@media screen and (min-width: 1280px){
    .but-abrir-menu-mob{
        display: none;
    }
}

@media screen and (max-width: 1023px){
     
    /*Cofiguração geral*/
    .flex{
        flex-direction: column;
    }

    /*Cofiguração do cabesalho*/
    header .cont_button{
        display: none;
    }
    .menu_dextop{
        display: none;
    }
    
    /*Cofiguração do topo_toms*/
    section.topo_toms .flex{
        flex-direction: column-reverse
    }

   
    section.topo_toms .img_topo img{
        width: 370px;
        height: 400px;
        margin-top: -30px;
        margin-bottom: -30px;
    }

    section.topo_toms .text_topo{
        padding: 20px;
    }

    section.topo_toms h1{
        font-size: 50px;
        margin-top: -50px;
    }

    section.topo_toms p{
        font-size: 22px;
    }

    /*Cofiguração dos instrumentos*/
    section.instrumentos .piano{
        width: 90%;
    }

    section.instrumentos .teoria_musical{
        margin-top: -5px;
        margin-left: 20px;
        width: 90%;
    }
     
    section.instrumentos .sax_alto{
        width: 90%;
    }

    section.instrumentos .bateria{
        margin-top: -5px;
        margin-left: 20px;
        width: 90%;
    }
 
    section.instrumentos .cursos h1{
        font-size: 50px;
    }

    /*Cofiguração do footer*/
    footer .receber_material h3{
        margin-top: 20px;
    }

    footer .receber_material input{
        width: 350px;
    }

    footer .img_icon_inst img{
        padding-top: 40px;
    }

}
 